@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* reset */

* {margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; font-size: 16px; font-weight: 500; font-family: 'Noto Sans KR', sans-serif;}
a { color: inherit; text-decoration: none;}
li {list-style: none;}
address, em, i { font-style: none;}
h1, h2, h3, h4, h5, h6 { font-size: inherit; }
a:hover {text-decoration: none; color: inherit; }   
body {
    background: #fff;
    color: #181818;
}
section {
    height: 800px;
    width: 1200px;
	margin: 30px auto;
}
.wrap {
    width: 100%;
    overflow: hidden;
}
span {
    color: #9B59B6;
}


/* section */
.title {
	margin-left: 70px;
}
.title h2 {
	font-size: 32px;
	font-weight: 700;
}


/* community */
.community .table {
    width: 1100px;
    border: 2px solid #dadada;
}
.community .table,
.community .table th,
.community .table td{
    border-left: 0px;
    border-right: 0px;
    margin: 0px auto;
    text-align: center;
    font-weight: 400;
}
.community .table th {
    font-weight: 500;
}
.community .table tr {
    height: 40px;
}
.community .table td:nth-child(1){
    color: #757575;
    padding-left: 20px;
}
.community .table td:nth-child(2){
    padding-left: 50px;
    text-align: left;
    width: 800px;
}

/* header */
header {
    transform: translateY(-19px);
    width: 100%;
    height: 110px;
    /* background: #FAF7FB; */
    background: #FAF7FB;
/* } */
}
.innerHeader {
    transform: translateY(19px);
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 100px;
}
.innerHeader .logo span {
    position: absolute;
    left: 115px;
    top: 20px;
    font-size: 45px;
    font-weight: 700;
}
.innerHeader .logo img {
    position: absolute;
    left: 30px;
    top: 10px;
    width: 80px;
}
.innerHeader .search {
    position: absolute;
    left: 370px;
    top: 29px;
    width: 370px;
    height: 40px;
    font-size: 18px;
    border: 2px solid #9B59B6;
    border-radius: 5px;
    padding-left: 5px;
}
.innerHeader .searchImg {
    position: absolute;
    left: 707px;
    top: 33px;
    width: 27px;
}
.innerHeader .search:focus {
    outline: 0;
}
.innerHeader .menuOption {
    position: absolute;
    top: -10px;
    right: 40px;
}
.innerHeader .menuOption li{
    float: left;
    margin-left: 40px;
    font-size: 16px;
}
.innerHeader .menu {
    position: absolute;
    top: 33px;
    right: 30px;
}
.innerHeader .menu li{
    font-size: 18px;
    cursor: pointer;
    float: left;
    font-weight: 500;
}
.innerHeader .menu li:after{
    content: '';
    position: absolute;
    top: 6px;
    left: 133px;
    border-left: 1px solid #757575;
    border-right: 1px solid #757575;
    width: 124px;
    height: 15px;
    z-index: 1;
}
.innerHeader .menu li img{
    transform: translateY(-2px);
    margin-left: 25px;
    margin-right: 5px;
    width: 25px;
}
.innerHeader .menu li:nth-child(3) img{
    margin-right: 1px;
}


/* footer */
footer {
    position: relative;
    width: 100%;
    height: 210px;
    background: #FAF7FB;
    overflow: hidden;
    transform: translateX();
}
.innerFooter {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 200px;
}
.innerFooter .info {
    position: absolute;
    top: 20px;
    left: 30px;
}
.innerFooter .info ul{
    width: 500px;
    float: left;
    color: #757575;
}
.innerFooter .info ul:nth-child(2){
    margin-left: 400px;
    width: 250px;
}
.innerFooter .info li:first-child{
    font-size: 18px;
    font-weight: 700;
    color: #3f3f3f;
    margin-bottom: 6px;
}
.innerFooter .info li{
    margin-bottom: 1px;
    font-size: 14px;
}
.innerFooter .info span{
    font-size: 12px;
    font-weight: 700;
}
.innerFooter .policy{
    position: absolute;
    left: 30px;
    bottom: 0px;
    color: #757575;
}
.innerFooter .policy li{
    font-size: 13px;
}


/* section */
.title {
	margin: 10px 70px;
}
.title h2 {
	font-size: 32px;
	font-weight: 700;
}
section .btn {
	background: #fff;
	border: 2px solid #9B59B6;
	color: #9B59B6;
}
section .btn.important {
	background: #9B59B6;
	color: #fff;
}
section .text {
	border: 2px solid #757575;
	border-radius: 5px;
	padding-left: 5px;
}
section .text:focus {
	outline: 0px;
}
section .new {
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	background: orange;
	width: 18px;
	height: 18px;
	text-align: center;
	border: 2px solid orange;
	border-radius: 50%;
}


/* community */
/* 페이지바 */
.community .pagebar {
	text-align: center;
	transform: translateY(50px); 
}
.community .pagebar .pagination a{
	border: 0px;
	margin: 0px 3px;
	color: #181818;
}
.community .pagebar .pagination a:hover{
	background: #fff;
	color: #9B59B6;
}
.community .pagebar .pagination .active a{
	background: #fff;
	font-weight: 700;
	color: #9B59B6;
}


/* 버튼 */
.community .button .btn {
	font-weight: 700;
	font-size: 16px;
	padding: 3px;
	position: relative;
}
.community .button .btn.add {
    position: absolute;
    right: 50px;
    transform: translateY(10px);
    width: 80px;
    text-align: center;
    padding-left: 5px;
}
.community .button .btn.add span{
    color: #fff;
}


/* 검색 */
.community .search {
    width: 400px;
    margin: 0 auto;
    transform: translateY(40px);
    font-size: 18px;
}
.community .search .text:first-child{
    width: 90px;
    outline: 0;
}
.community .search .text:first-child option {
    background: #fff;
}
.community .search .text {
    outline: 0;
    float: left;
    width: 270px;
    height: 30px;
    margin-left: 10px;
    padding-left: 5px;
}
.community .search .searchImg {
    width: 25px;
    position: absolute;
    right: 25px;
    top: 2px;
}