@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Josefin+Sans:ital,wght@0,700;1,700&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@400;500;700&family=Rubik&display=swap');

/* reset */
* {margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0; padding:0;}
a { color: inherit; text-decoration: none;}
li {list-style: none;}
address, em, i { font-style: none;}
h1, h2, h3, h4, h5, h6 { font-size: inherit; }
a:hover {text-decoration: none; color: inherit; }  


 /* layout  */
body {
	/* font-family: 'Noto Sans KR', sans-serif; */
   font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 18px; 
	font-weight: 500; 
   color: #5C6F7E;
   background: #F5F8FF;
}
section {
   width: 1200px;
	margin: 60px auto;
}
.wrap {
   background: #F5F8FF;
   /* width: 100%; */
   overflow: hidden;
   height: 100vh;
}
html, body{
   height : 100%;
   width : 100%;
   padding : 0px;
   margin : 0px;
}
.header{
   float : left;
   width : 120px;
   height : 100%;
   background-color :  #fff ;
   text-align: center;
   padding-top: 20px;
}
.header .icon{
   font-size : 40px;
   color : #C9C9C9;
   margin-left : 17px;
   opacity: 0.6;
   height : 75px;
   width : 75px;
   padding-top : 35px;
   margin-bottom: 10px;
   border-bottom : 1px solid white;
}
.icon:hover{
  opacity: 1;
  color: #9bacff;
}

/* header */
header h1 {
   margin-top: 220px;
   font-size: 70px;
   font-weight: 700;
   color: #6CA1FD;
   background: #F5F8FF;
   text-align: center;
}

/* basic */
.basic {
   text-align: center;
}
.basic div {
   margin: 10px auto;
   width: 360px;
   border: 1px solid #C9C9C9;
   border-radius: 5px;
   font-size: 20px;
}
.basic input {
   border: 0;
   padding-left: 10px;
   width: 300px;
   height: 50px;
}
.basic input:focus {
   outline: 0;
}
.basic i {
   position: relative;
   top: 5px;
   left: 3px;
   font-size: 31px;
   margin: 9px;
   color: #5C6F7E;
}
.basic .login {
   width: 370px;
   height: 60px;
   border-radius: 30px;
   background: #6CA1FD;
   color: #fff;
   font-size: 30px;
   font-weight: 700;
   padding: 7px 0 5px 0;
   margin-top: 40px;
}


/* simple */
.simple {
   text-align: center;
   z-index: -2;
}
.simple .simple-login {
   margin: 0 auto;
   position: relative;
   content: '';
   border-top: 1px solid #000;
   width: 280px;
   height: 300px;
   padding-top: 40px;
   top: 10px;
}
.simple h2 {
   position: relative;
   top: 25px;
   font-size: 25px;
   color: #5C6F7E;
   font-weight: 700;
   background: #F5F8FF;
   /* border: 1px solid #000; */
   margin: 0 auto;
   width: 80px;
   z-index: 1;
}
.simple .simple-login img {
   width: 50px;
   height: 50px;
   border-radius: 50px;
   margin: 0px 25px;
}
.simple .simple-login img:first-child {
   margin-left: 0px;
}
.simple .simple-login img:last-child {
   margin-right: 0px;
}


/* 프로젝트 칼럼 */
.project-column {
   color: #5C6F7E;
   margin-top: 150px;
   font-family: 'IBM Plex Sans KR', sans-serif;
}
.project-column img {
   width: 30px;
   height: 30px;
   border-radius: 20px;
   margin: 5px 2px 10px 0px;
}
.project-column .select {
   margin: 10px 55px;
   font-size: 18px;
}
.project-column .select select{
   position: relative;
   top: 0;
   left: 0;
   border: 0;
   background: #F5F8FF;
   left: -3px;
   font-weight: 700;
}
.project-column .column {
   float: left;
   width: 300px;
   height: 100vh;
   margin: 0 50px;
   position: relative;
}
.project-column div.state {
   color: #fff;
   height: 35px;
   line-height: 35px;
   font-size: 22px;
   /* font-weight: 700; */
   text-align: center;
   border-radius: 10px;
   margin: 10px 50px;
   margin-top: 30px;
   box-shadow: 3px 3px 2px #9bacff42;
   text-shadow: 1px 1px 1px #ddd;
   width: 300px;
   float: left;
}
.project-column .not-started {
   background: #749FFE;
}
.project-column .in-progress {
   background: #FF738E;
}
.project-column .completed {
   background: #FE9E62;
}
.project-column .column ul {
   border: 1px solid #E0E0E0;
   background: #fff;
   height: 95px;
   padding: 10px;
   padding-left: 18px;
   border-radius: 10px;
   margin-top: 15px;
   box-shadow: 2px 2px 2px #9bacff42;
}
.project-column .column ul li:first-child {
   position: relative;
   /* left: 58px; */
   font-size: 17px;
   font-weight: 600;
   letter-spacing: 1px;
   margin-bottom: 2px;
}
.project-column .column ul li:first-child span {
   letter-spacing: 0px;
   position: absolute;
   right: 5px;
   margin-left: 12px;
   top: 3px;
   width: 55px;
   height: 17px;
   line-height: 18px;
   text-align: center;
   font-size: 14px;
   font-weight: 400;
   color: #5C6F7E;
   background: #E3ECFF;
   border-radius: 20px;
   /* box-shadow: 1px 1px 2px #9BABFF; */
}
.project-column .column ul li:first-child span.middle {
   background: #FFECE0;
}
.project-column .column ul li:first-child span.high {
   background: #FCE0E5;
}
.project-column .column ul li:nth-child(2) span {
   color: #95A1A9;
   font-size: 15px;
   margin-left: -3px;
}
.project-column .column ul li:last-child {
   font-size: 12px;
   color: #C9C9C9;
   position: relative;
   font-weight: 300;
   right: -202px;
   bottom: 7px
}
.project-column .column p {
   color: #95A1A9;
   font-size: 19px;
   margin: 15px;
}
.project-column .column ul:hover {
   background: #FBFBFB;
}
.project-column .column ul li:last-child i {
   position: absolute;
   right: 0;
   bottom: 0px;
   font-size: 18px;
   color: #5C6F7E;
   opacity: 0;
}
.project-column .column ul:hover li:last-child i {
   opacity: 1;
}


/* 칼럼 이동 */
.project-placeholder {
   background-color: #F5F8FF;
   /* width: 1px; */
   opacity: 0.4;
}
.project-column .title {
   cursor: pointer;
}


/* project-board select */
.project-board {
   color: #5C6F7E;
   margin-top: 150px;
}
.project-board img {
   width: 30px;
   height: 30px;
   border-radius: 20px;
   margin: 5px 2px 10px 0px;
   background-color: #fff;
}
.project-board .select {
   margin: 20px 55px;
   font-size: 22px;
   padding-top: 30px;
}
.project-board .select select{
   position: relative;
   top: 0;
   left: 0;
   border: 0;
   background: #F5F8FF;
   left: -3px;
   font-weight: 700;
}

/* project board */
.project-board .board table {
   width: 1100px;
   border: 1px solid #95A1A9;
   border-radius: 20px;
}
.project-board .board table,
.project-board .board table th,
.project-board .board table td{
   border-left: 0px;
   border-right: 0px;
   margin: 0px auto;
   text-align: center;
   font-weight: 700;
}
.project-board .board table th {
   font-weight: 700;
   font-size: 18px;
   text-align: center;
   width: 200px;
}
.project-board .board table tr {
   border: 1px solid #95A1A9;
   border-left: 0px;
   border-right: 0px;
   height: 40px;
}
.project-board .board table td {
   font-size: 17px;
}
.project-board .board table th:nth-child(1),
.project-board .board table td:nth-child(1) {
   padding-left: 20px;
   width: 350px;
   text-align: left;
   color: #5C6F7E;
}
.project-board .board table td:nth-child(2) {
   color: #fff;
   text-align: center;
   padding: 0;
   width: 100px;
}
.project-board .board table td:nth-child(3) {
   width: 250px;
}
.project-board .board table td:nth-child(2) .status {
   padding: 6px;
   font-weight: 400;
   border-radius: 10px;
}
.project-board .board table .not-started {
   background: #749FFE;
}
.project-board .board table  .in-progress {
   background: #FF738E;
}
.project-board .board table  .completed {
   background: #FE9E62;
}
.project-board .board table td:nth-child(4) {
   /* color: #95A1A9; */
   font-weight: 400;
}
.project-board .board table td:nth-child(5) .priority {
   padding: 1px 7px 1px 7px;
   text-align: center;
   font-size: 15px;
   font-weight: 400;
   color: #5C6F7E;
   background: #E3ECFF;
   border-radius: 20px;
}
.project-board .board table td:nth-child(5) .priority.middle {
   background: #FFECE0;
}
.project-board .board table td:nth-child(5) .priority.high {
   background: #FCE0E5;
   padding: 1px 5px 1px 5px;
}


/* detail */
.project-detail img {
   width: 30px;
   height: 30px;
   border-radius: 20px;
   margin-right: 3px;
   background-color: #fff;
   /* border: 1px solid #5C6F7E; */
   position: relative;
   top: -2px;
}
.project-detail {
   background: #fff;
   width: 1000px;
   padding: 60px 80px 100px 80px;
   margin-top: 100px;
   color: #5C6F7E;
   border-radius: 10px;
   border: 1px solid #E0E0E0;
   font-size: 17px;
   position: relative;
   transition: all 0.3s;
}
.project-detail h1 {
   font-weight: 1000;
   font-size: 40px;
   margin-bottom: 20px;
}
.project-detail table tr td i {
   margin-right: 10px;
   font-size: 22px;
   position: relative;
   top: 2px
}
.project-detail table tr:first-child td {
   width: 90px;
   font-weight: 700;
}
.project-detail table tr:nth-child(4) td,
.project-detail table tr:nth-child(5) td {
   font-weight: 700;
   font-size: 15px;
}
.project-detail table tr td:first-child {
   font-weight: 400;
   font-size: 19px;
   color: #95A1A9;
   width: 180px;
   height: 40px;
}
.project-detail table tr .status {
   padding: 4px 8px;
   font-weight: 400;
   border-radius: 8px;
   color: #fff;
   font-size: 15px;
}
.project-detail table tr .status.not-started {
   background: #749FFE;
}
.project-detail table tr .status.in-progress {
   background: #FF738E;
}
.project-detail table tr .status.completed {
   background: #FE9E62;
}
.project-detail table tr .priority {
   padding: 1px 7px 1px 7px;
   text-align: center;
   font-size: 15px;
   font-weight: 400;
   color: #5C6F7E;
   background: #E3ECFF;
   border-radius: 20px;
   position: relative;
   top: 2px
}
.project-detail table tr .priority.middle {
   background: #FFECE0;
}
.project-detail table tr .priority.high {
   background: #FCE0E5;
   padding: 1px 5px 1px 5px;
}
.project-detail table tr:nth-child(6) td,
.project-detail table tr:nth-child(8) td {
   color: #5C6F7E;
   font-weight: 700;
   padding: 50px 5px 10px 0px;
   font-size: 28px;
   letter-spacing: 1px;
}
.project-detail table tr:nth-child(7) td{
   color: #5C6F7E;
   font-size: 17px;
   font-weight: 700;
   position: relative;
   top: -10px;
   left: 2px;
}
.project-detail table tr.to-do td {
   padding: 0px 5px;
   margin-bottom: -20px;
   font-size: 17px;
   height: 10px;
   color: #5C6F7E;
}
.project-detail table tr.to-do td input[type="checkbox"] {
   position: relative;
   margin-right: 5px;
   top: -1px;
}
.project-detail table tr.to-do td input[type="checkbox"]:checked + label {
   font-weight: 400;
   color: #95A1A9;
   text-decoration: line-through;
   /* font-style: italic; */
   /* font-size: 16px; */
}


/* 프로젝트 수정과 삭제로 이동 */
.project-detail.hover {
   background: #fbfbfb;
   transition: all 0.3s;
   opacity: 0.7;
}
.project-detail > i {
   position: absolute;
   font-size: 45px;
   right: 20px;
   top: 10px;
   color: #e0e0e0;
   opacity: 0;
}
.project-detail > i.hover {
   opacity: 1;
   cursor: pointer;
   transition: all 0.3s;
   z-index: 1;
   right: -70px;
   width: 150px;
}
.project-detail > i.hover:hover {
   color: #5C6F7E;
   transition: all 0.3s;
   opacity: 1;
}
.project-detail > i.click-hover {
   opacity: 1;
   cursor: pointer;
   transition: all 0.3s;
   z-index: 1;
   right: -70px;
   width: 150px;
}
.project-detail > i.click {
   top: -14px;
   right: -50px;
   color: #5C6F7E;
   opacity: 1.5;
   z-index: 1;
   height: 100px;
}
.project-detail > i.bi-trash.click {
   top: 40px;
}


/* 프로젝트 만들기 */
.project-detail form input.title {
   font-weight: 700;
   font-size: 40px;
   margin-bottom: 20px;
   border: 0px;
   color: #5C6F7E;
}
.project-detail form input:hover,
.project-detail form input:focus {
   outline: 0;
}
.project-detail form table .search {
   position: relative;
   left: -10px;
   border: 0px;
   font-weight: 400;
   background: #FBFBFB;
   width: 700px;
   border-radius: 7px;
   padding: 2px;
   padding-left: 8px;
}
.project-detail form table .description {
   border: 0;
}
.project-detail form table .new-to-do {
   position: relative;
   left: -80px;
   top: -4px;
   border: 0;
   border-radius: 7px;
   padding: 1px 6px 1px 6px;
   font-size: 20px;
}