@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* reset */
* {margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0; padding:0;}
a { color: inherit; text-decoration: none;}
li {list-style: none;}
address, em, i { font-style: none;}
h1, h2, h3, h4, h5, h6 { font-size: inherit; }
a:hover {text-decoration: none; color: inherit; }  


 /* layout  */
body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px; 
	font-weight: 500; 
   color: #5C6F7E;
   background: #F5F8FF;
}
section {
   width: 1200px;
	margin: 60px auto;
}
.wrap {
   background: #F5F8FF;
   width: 100%;
   overflow: hidden;
   height: 100vh;
}
span {
    color: #9B59B6;
}

/* header */
header h1 {
   margin-top: 220px;
   font-size: 70px;
   font-weight: 700;
   color: #6CA1FD;
   background: #F5F8FF;
   text-align: center;
}

/* basic */
.basic {
   text-align: center;
}
.basic div {
   margin: 10px auto;
   width: 360px;
   border: 1px solid #C9C9C9;
   border-radius: 5px;
   font-size: 20px;
}
.basic input {
   border: 0;
   padding-left: 10px;
   width: 300px;
   height: 50px;
}
.basic input:focus {
   outline: 0;
}
.basic i {
   position: relative;
   top: 5px;
   left: 3px;
   font-size: 31px;
   margin: 9px;
   color: #5C6F7E;
}
.basic .login {
   width: 370px;
   height: 60px;
   border-radius: 30px;
   background: #6CA1FD;
   color: #fff;
   font-size: 30px;
   font-weight: 700;
   padding: 7px 0 5px 0;
   margin-top: 40px;
}


/* simple */
.simple {
   text-align: center;
   z-index: -2;
}
.simple .simple-login {
   margin: 0 auto;
   position: relative;
   content: '';
   border-top: 1px solid #000;
   width: 280px;
   height: 300px;
   padding-top: 40px;
   top: 10px;
}
.simple h2 {
   position: relative;
   top: 25px;
   font-size: 25px;
   color: #5C6F7E;
   font-weight: 700;
   background: #F5F8FF;
   /* border: 1px solid #000; */
   margin: 0 auto;
   width: 80px;
   z-index: 1;
}
.simple .simple-login img {
   width: 50px;
   height: 50px;
   border-radius: 50px;
   margin: 0px 25px;
}
.simple .simple-login img:first-child {
   margin-left: 0px;
}
.simple .simple-login img:last-child {
   margin-right: 0px;
}


/* 프로젝트 칼럼 */
.project-column {
   color: #5C6F7E;
   margin-top: 150px;
}
.project-column img {
   width: 40px;
   height: 40px;
   border-radius: 20px;
   margin: 5px 2px 10px 0px;
}
.project-column .select {
   margin: 20px 55px;
   font-size: 22px;
   padding-top: 30px;
}
.project-column .select select{
   position: relative;
   top: 0;
   left: 0;
   border: 0;
   background: #F5F8FF;
   left: -3px;
   font-weight: 700;
}
.project-column .column {
   float: left;
   width: 300px;
   margin: 0 50px;
}
.project-column .column div {
   color: #fff;
   height: 35px;
   line-height: 35px;
   font-size: 24px;
   font-weight: 700;
   text-align: center;
   border-radius: 10px;
   margin: 20px 0px;
}
.project-column .not-started {
   background: #749FFE;
}
.project-column .in-progress {
   background: #FF738E;
}
.project-column .completed {
   background: #FE9E62;
}
.project-column .column ul {
   border: 1px solid #E0E0E0;
   background: #fff;
   height: 120px;
   padding: 10px;
   padding-left: 20px;
   border-radius: 10px;
   margin-top: 15px;
}
.project-column .column ul li:first-child {
   position: relative;
   font-size: 20px;
   font-weight: 900;
}
.project-column .column ul li:first-child span {
   position: absolute;
   right: 0;
   top: 1px;
   width: 60px;
   text-align: center;
   font-size: 15px;
   font-weight: 400;
   color: #5C6F7E;
   background: #E3ECFF;
   border-radius: 20px;
}
.project-column .column ul li:first-child span.middle {
   background: #FFECE0;
}
.project-column .column ul li:first-child span.high {
   background: #FCE0E5;
}
.project-column .column ul li:nth-child(2) span {
   color: #95A1A9;
   font-size: 18px;
   margin-left: 8px;
}
.project-column .column ul li:last-child {
   color: #C9C9C9;
   position: relative;
}
.project-column .column p {
   color: #95A1A9;
   font-size: 19px;
   margin: 15px;
}
.project-column .column ul:hover {
   background: #FBFBFB;
}
.project-column .column ul li:last-child i {
   position: absolute;
   right: 0;
   bottom: 0px;
   font-size: 18px;
   color: #5C6F7E;
   opacity: 0;
}
.project-column .column ul:hover li:last-child i {
   opacity: 1;
}
